U1-Fundamentals/U1.2-Python/AllTheFilters/part4/recolored1.jpg
U1-Fundamentals/U1.2-Python/AllTheFilters/part4/recolored2.jpg
U1-Fundamentals/U1.2-Python/AllTheFilters/part4/recolored3.jpg
U1-Fundamentals/U1.2-Python/AllTheFilters/part4/recolored4.jpg
